// Imports
@import "../fonts/fonts";
@import "../scssVars/mediaQueries";

// Variables
:root {
  // Fonts
  --font-family: "Alumni Sans SC", sans-serif;
  --second-family: "Alumni Sans", sans-serif;
  --third-family: "Inter", sans-serif;

  // Padding-y
  --padding-desktop-y: 32px;
  --padding-laptop-y: 24px;
  --padding-tablet-y: 19px;
  --padding-mobile-y: 15px;

  // Padding-x
  --padding-desktop-x: 50px;
  --padding-laptop-x: 35px;
  --padding-tablet-x: 30px;
  --padding-mobile-x: 20px;

  // Colors
  --color-white: #fff;
  --color-black: #000;
  --color-black-secondary: #1212124d;
  --color-red: #ff1f00;
  --color-gray: #d9d9d9;
  --color-gray-secondary: rgb(217 217 217 / 23%);

  // Transition
  --transition-duration-default: 0.3s;

  // Z-indexes
  --z-index-hidden: -2;
  --z-index-bg: -1;
  --z-index-default: 0;
  --z-index-header-burger-menu: 1;
  --z-index-header-burger-menu-icon: 2;
}

// General styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  font-family: var(--font-family);
  background-image: url("../../images/mainBG/desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: var(--padding-desktop-y) var(--padding-desktop-x);
  position: relative;
  overflow-y: hidden;

  @media (max-width: $laptop-mediaquery-width) {
    padding: var(--padding-laptop-y) var(--padding-laptop-x);
  }

  @media (max-width: $tablet-mediaquery-width) {
    padding: var(--padding-tablet-y) var(--padding-tablet-x);
    background-image: url("../../images/mainBG/tablet.jpg");
  }

  @media (max-width: $mobile-mediaquery-width) {
    padding: var(--padding-mobile-y) var(--padding-mobile-x);
    background-image: url("../../images/mainBG/mobile.jpg");
  }
}

// Color classes
.red {
  color: var(--color-red);
}

// Flex classes
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.laptop-flex-column {
  @media (max-width: $laptop-mediaquery-width) {
    flex-direction: column;
  }
}

.align-center {
  align-items: center;
}

.laptop-align-center {
  @media (max-width: $laptop-mediaquery-width) {
    align-items: center;
  }
}

.justify-center {
  justify-content: center;
}

// Gap classes
.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}
