// Imports
@use "../fonts/fonts.scss" as *;
@use "../scssVars/mediaQueries.scss" as *;

// Variables
:root {
  // Fonts
  --font-family: "Alumni Sans SC", sans-serif;
  --second-family: "Alumni Sans", sans-serif;
  --third-family: "Inter", sans-serif;

  // Padding-y
  --padding-desktop-y: 32px;
  --padding-laptop-y: 24px;
  --padding-tablet-y: 19px;
  --padding-mobile-y: 15px;

  // Padding-x
  --padding-desktop-x: 50px;
  --padding-laptop-x: 35px;
  --padding-tablet-x: 30px;
  --padding-mobile-x: 20px;

  // Colors
  --color-white: #fff;
  --color-black: #000;
  --color-red: #ff1f00;
  --color-gray: #d9d9d9;
  --color-gray-secondary: rgba(217, 217, 217, 0.23);

  // Transition
  --transition-duration-default: 0.3s;
}

// General styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  font-family: var(--font-family);
  background-image: url("../../images/mainBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: var(--padding-desktop-y) var(--padding-desktop-x);

  @media (max-width: $laptop-mediaquery-width) {
    padding: var(--padding-laptop-y) var(--padding-laptop-x);
  }

  @media (max-width: $tablet-mediaquery-width) {
    padding: var(--padding-tablet-y) var(--padding-tablet-x);
  }

  @media (max-width: $mobile-mediaquery-width) {
    padding: var(--padding-mobile-y) var(--padding-mobile-x);
  }
}

// Color classes
.red {
  color: var(--color-red);
}

// Flex classes
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

// Gap classes
.gap-20 {
  gap: 20px;
}
