@import '../scssVars/mediaQueries';

.mastermindSteps {
  &__caption {
    font-weight: 500;
    font-size: 100px;
    line-height: 78%;
    color: var(--color-white);
    margin-top: 200px;

    @media (max-width: $laptop-mediaquery-width) {
      font-size: 48px;
      margin-top: 0;
    }

    @media (max-width: $tablet-mediaquery-width) {
      font-size: 20px;
    }
  }

  &__wrapper {
    margin-top: 120px;
    width: 1150px;
    position: relative;
    height: 2000px;
    overflow: visible;

    @media (max-width: $laptop-mediaquery-width) {
      width: 650px;
      height: 1230px;
      margin-top: 100px;
    }

    @media (max-width: $tablet-mediaquery-width) {
      width: 170px;
      height: 540px;
      margin-top: 40px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -16%;
      left: 11%;
      height: 100%;
      width: calc(100% - 200px);
      background-image: url('../../images/mastermindStepsBG/desktop.svg');
      background-repeat: no-repeat;
      background-size: cover;
      z-index: var(--z-index-bg);

      @media (max-width: $laptop-mediaquery-width) {
        background-image: url('../../images/mastermindStepsBG/laptop.svg');
        width: calc(100% - 130px);
        top: -14%;
      }

      @media (max-width: $tablet-mediaquery-width) {
        background-image: url('../../images/mastermindStepsBG/tablet.svg');
        width: calc(100% + 50px);
        left: -20%;
      }
    }
  }

  &__item {
    &__caption {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 40px;
      color: var(--color-gray-fourth);

      @media (max-width: $laptop-mediaquery-width) {
        font-size: 32px;
      }

      @media (max-width: $tablet-mediaquery-width) {
        font-size: 15px;
      }
    }

    &__content {
      background: var(--color-black);
      height: 108px;
      width: 488px;
      border-radius: 0 26px 26px;
      position: relative;

      @media (max-width: $laptop-mediaquery-width) {
        width: 276px;
        height: 70px;
      }

      @media (max-width: $tablet-mediaquery-width) {
        border-radius: 0 10px 10px;
        width: 116px;
        height: 35px;
      }

      &__text {
        font-family: var(--second-family);
        font-weight: 131;
        font-size: 48px;
        line-height: 103%;
        color: var(--color-gray-fourth);
        text-align: center;
        width: 85%;

        @media (max-width: $laptop-mediaquery-width) {
          font-size: 32px;
        }

        @media (max-width: $tablet-mediaquery-width) {
          font-size: 15px;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 28px;
        height: 100%;
        background: linear-gradient(255deg, #ff1f00 2.36%, #991200 100%);

        @media (max-width: $laptop-mediaquery-width) {
          width: 16px;
        }

        @media (max-width: $tablet-mediaquery-width) {
          width: 7px;
        }
      }
    }

    &__right {
      margin-top: 15px;
      align-self: flex-end;

      @media (max-width: $laptop-mediaquery-width) {
        margin-top: 10px;
        position: relative;
        right: -50px;
      }

      @media (max-width: $tablet-mediaquery-width) {
        margin-top: -5px;
      }

      &__second {
        margin-top: 60px;

        @media (max-width: $laptop-mediaquery-width) {
          margin-top: 30px;
        }

        @media (max-width: $tablet-mediaquery-width) {
          margin-top: 5px;
        }
      }

      &__third {
        margin-top: 40px;

        @media (max-width: $laptop-mediaquery-width) {
          margin-top: 20px;
        }

        @media (max-width: $tablet-mediaquery-width) {
          margin-top: 0;
        }
      }

      .mastermindSteps__item__caption {
        text-align: right;
      }

      .mastermindSteps__item__content::before {
        right: 0;
        border-radius: 0 0 26px;
      }

      &__last {
        margin-top: 40px;

        .mastermindSteps__item__content {
          width: 700px;
          height: 120px;

          @media (max-width: $laptop-mediaquery-width) {
            width: 400px;
          }

          @media (max-width: $tablet-mediaquery-width) {
            width: 200px;
            height: 50px;
          }
        }
      }
    }

    &__left {
      margin-top: 115px;

      @media (max-width: $laptop-mediaquery-width) {
        margin-top: 70px;
        position: relative;
        left: -50px;
      }

      @media (max-width: $tablet-mediaquery-width) {
        margin-top: 20px;
      }

      .mastermindSteps__item__content::before {
        left: 0;
        border-radius: 0 0 0 26px;
      }

      &__third {
        margin-top: 150px;

        @media (max-width: $laptop-mediaquery-width) {
          margin-top: 90px;
        }

        @media (max-width: $tablet-mediaquery-width) {
          margin-top: 30px;
        }
      }

      &__fourth {
        margin-top: 90px;

        @media (max-width: $laptop-mediaquery-width) {
          margin-top: 40px;
        }

        @media (max-width: $tablet-mediaquery-width) {
          margin-top: 10px;
        }
      }
    }

    &__first {
      margin-top: 0;

      @media (max-width: $laptop-mediaquery-width) {
        margin-top: 30px;
      }

      @media (max-width: $tablet-mediaquery-width) {
        margin-top: 10px;
      }
    }
  }

  &__video {
    margin-top: 100px;

    @media (max-width: $tablet-mediaquery-width) {
      margin-top: 50px;
    }
  }

  &__button {
    margin-top: 200px;

    @media (max-width: $laptop-mediaquery-width) {
      margin-top: 100px;
    }

    @media (max-width: $tablet-mediaquery-width) {
      font-size: 24px;
      height: 38px;
      margin-top: 70px;
      padding: 9px;
    }
  }
}
