/* Media Queries */
.mastermindSteps__wrapper {
  margin-top: 120px;
  width: 1150px;
  position: relative;
  height: 2000px;
  overflow: visible;
}
@media (max-width: 1400px) {
  .mastermindSteps__wrapper {
    width: 650px;
    height: 1230px;
    margin-top: 100px;
  }
}
@media (max-width: 768px) {
  .mastermindSteps__wrapper {
    width: 170px;
    height: 540px;
    margin-top: 40px;
  }
}
.mastermindSteps__wrapper::before {
  content: "";
  position: absolute;
  top: -16%;
  left: 11%;
  height: 100%;
  width: calc(100% - 200px);
  background-image: url("../../../images/mastermindStepsBG/desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: var(--z-index-bg);
}
@media (max-width: 1400px) {
  .mastermindSteps__wrapper::before {
    background-image: url("../../../images/mastermindStepsBG/laptop.svg");
    width: calc(100% - 130px);
    top: -14%;
  }
}
@media (max-width: 768px) {
  .mastermindSteps__wrapper::before {
    background-image: url("../../../images/mastermindStepsBG/tablet.svg");
    width: calc(100% + 50px);
    left: -20%;
  }
}
.mastermindSteps__item__caption {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  color: var(--color-gray-fourth);
}
@media (max-width: 1400px) {
  .mastermindSteps__item__caption {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .mastermindSteps__item__caption {
    font-size: 15px;
  }
}
.mastermindSteps__item__content {
  background: var(--color-black);
  height: 108px;
  width: 488px;
  border-radius: 0 26px 26px;
  position: relative;
}
@media (max-width: 1400px) {
  .mastermindSteps__item__content {
    width: 276px;
    height: 70px;
  }
}
@media (max-width: 768px) {
  .mastermindSteps__item__content {
    border-radius: 0 10px 10px;
    width: 116px;
    height: 35px;
  }
}
.mastermindSteps__item__content__text {
  font-family: var(--second-family);
  font-weight: 131;
  font-size: 48px;
  line-height: 103%;
  color: var(--color-gray-fourth);
  text-align: center;
  width: 85%;
}
@media (max-width: 1400px) {
  .mastermindSteps__item__content__text {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .mastermindSteps__item__content__text {
    font-size: 15px;
  }
}
.mastermindSteps__item__content::before {
  content: "";
  position: absolute;
  top: 0;
  width: 28px;
  height: 100%;
  background: linear-gradient(255deg, #ff1f00 2.36%, #991200 100%);
}
@media (max-width: 1400px) {
  .mastermindSteps__item__content::before {
    width: 16px;
  }
}
@media (max-width: 768px) {
  .mastermindSteps__item__content::before {
    width: 7px;
  }
}
.mastermindSteps__item__right {
  margin-top: 15px;
  align-self: flex-end;
}
@media (max-width: 1400px) {
  .mastermindSteps__item__right {
    margin-top: 10px;
    position: relative;
    right: -50px;
  }
}
@media (max-width: 768px) {
  .mastermindSteps__item__right {
    margin-top: -5px;
  }
}
.mastermindSteps__item__right__second {
  margin-top: 60px;
}
@media (max-width: 1400px) {
  .mastermindSteps__item__right__second {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .mastermindSteps__item__right__second {
    margin-top: 5px;
  }
}
.mastermindSteps__item__right__third {
  margin-top: 40px;
}
@media (max-width: 1400px) {
  .mastermindSteps__item__right__third {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .mastermindSteps__item__right__third {
    margin-top: 0;
  }
}
.mastermindSteps__item__right .mastermindSteps__item__caption {
  text-align: right;
}
.mastermindSteps__item__right .mastermindSteps__item__content::before {
  right: 0;
  border-radius: 0 0 26px;
}
.mastermindSteps__item__right__last {
  margin-top: 40px;
}
.mastermindSteps__item__right__last .mastermindSteps__item__content {
  width: 700px;
  height: 120px;
}
@media (max-width: 1400px) {
  .mastermindSteps__item__right__last .mastermindSteps__item__content {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .mastermindSteps__item__right__last .mastermindSteps__item__content {
    width: 200px;
    height: 50px;
  }
}
.mastermindSteps__item__left {
  margin-top: 115px;
}
@media (max-width: 1400px) {
  .mastermindSteps__item__left {
    margin-top: 70px;
    position: relative;
    left: -50px;
  }
}
@media (max-width: 768px) {
  .mastermindSteps__item__left {
    margin-top: 20px;
  }
}
.mastermindSteps__item__left .mastermindSteps__item__content::before {
  left: 0;
  border-radius: 0 0 0 26px;
}
.mastermindSteps__item__left__third {
  margin-top: 150px;
}
@media (max-width: 1400px) {
  .mastermindSteps__item__left__third {
    margin-top: 90px;
  }
}
@media (max-width: 768px) {
  .mastermindSteps__item__left__third {
    margin-top: 30px;
  }
}
.mastermindSteps__item__left__fourth {
  margin-top: 90px;
}
@media (max-width: 1400px) {
  .mastermindSteps__item__left__fourth {
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .mastermindSteps__item__left__fourth {
    margin-top: 10px;
  }
}
.mastermindSteps__item__first {
  margin-top: 0;
}
@media (max-width: 1400px) {
  .mastermindSteps__item__first {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .mastermindSteps__item__first {
    margin-top: 10px;
  }
}
.mastermindSteps__video {
  margin-top: 100px;
}
@media (max-width: 768px) {
  .mastermindSteps__video {
    margin-top: 50px;
  }
}
.mastermindSteps__button {
  margin-top: 200px;
}
@media (max-width: 1400px) {
  .mastermindSteps__button {
    margin-top: 100px;
  }
}
@media (max-width: 768px) {
  .mastermindSteps__button {
    font-size: 24px;
    height: 38px;
    margin-top: 70px;
    padding: 9px;
  }
}/*# sourceMappingURL=mastermindSteps.css.map */