@import '../../scssVars/mediaQueries';

.cases {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-top: 177px;

    @media (max-width: $laptop-mediaquery-width) {
      grid-template-columns: repeat(1, 1fr);
      margin-top: 56px;
      gap: 64px;
    }

    @media (max-width: $mobile-mediaquery-width) {
      margin-top: 30px;
      gap: 15px;
      padding: 0 5px;

      & > :nth-child(3),
      & > :nth-child(4) {
        display: none;
      }
    }
  }

  &__item {
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }

    &__name {
      font-weight: 400;
      font-size: 64px;
      line-height: 105%;
      text-align: justify;
      color: var(--color-white);

      @media (max-width: $laptop-mediaquery-width) {
        margin-top: 15px;
      }

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 32px;
      }
    }

    &__desc {
      font-weight: 200;
      font-size: 36px;
      line-height: 105%;
      text-transform: capitalize;
      color: var(--color-gray-fifth);
      margin-top: 30px;

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 16px;
        margin-top: 5px;
      }
    }

    &__more {
      width: fit-content;
      font-weight: 200;
      font-size: 36px;
      line-height: 105%;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-align: justify;
      color: var(--color-white);
      margin-top: 30px;
      transition: text-shadow linear var(--transition-duration-default);

      &:hover {
        text-shadow: 0 0 20px var(--color-white);
      }

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 16px;
        margin-top: 15px;
      }
    }

    video {
      @media (max-width: $laptop-mediaquery-width) {
        height: 500px;
      }

      @media (max-width: $tablet-mediaquery-width) {
        height: 394px;
      }

      @media (max-width: $mobile-mediaquery-width) {
        height: 158px;
      }
    }
  }

  &__showAll {
    font-weight: 200;
    font-size: 36px;
    line-height: 105%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--color-white);
    margin-top: 121px;
    transition: text-shadow linear var(--transition-duration-default);

    &:hover {
      text-shadow: 0 0 20px var(--color-white);
    }

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 15px;
      margin-top: 50px;
    }
  }

  &__button {
    margin-top: 71px;

    @media (max-width: $mobile-mediaquery-width) {
      display: none;
    }
  }
}
