.cases {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-top: 177px;
  }

  &__item {
  }
}
