@font-face {
  font-family: "Alumni Sans SC";
  src: url("../../fonts/AlumniSans-Regular.ttf") format("truetype");
  src: url("../../fonts/AlumniSans-Light.ttf") format("truetype");
  src: url("../../fonts/AlumniSans-Medium.ttf") format("truetype");
  src: url("../../fonts/AlumniSans-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Alumni Sans";
  src: url("../../fonts/AlumniSans-Regular.ttf") format("truetype");
  src: url("../../fonts/AlumniSans-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-ExtraLight.otf") format("opentype");
}
