@import '../../scssVars/mediaQueries';

.whoNeeds {
  margin-top: 140px;
  margin-bottom: 169px;

  @media (max-width: $tablet-mediaquery-width) {
    margin-top: 0;
    margin-bottom: 58px;
  }

  @media (max-width: $mobile-mediaquery-width) {
    margin-bottom: 40px;
  }

  &__block {
    gap: 181px;

    @media (max-width: $tablet-mediaquery-width) {
      gap: 81px;
    }

    @media (max-width: $mobile-mediaquery-width) {
      gap: 33px;
    }
  }

  &__wrapper {
    width: 100%;
    gap: 50px;

    @media (max-width: $tablet-mediaquery-width) {
      gap: 30px;
    }

    @media (max-width: $mobile-mediaquery-width) {
      gap: 20px;
    }

    * {
      line-height: 98%;
      text-align: center;
      color: var(--color-white);
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      max-width: 100%;

      @media (max-width: $mobile-mediaquery-width) {
        gap: 15px;
      }
    }
  }

  &__caption {
    font-weight: 400;
    font-size: 96px;

    @media (max-width: $tablet-mediaquery-width) {
      font-size: 32px;
    }

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 13px;
    }
  }

  &__desc {
    font-weight: 200;
    font-size: 48px;
    width: 80%;

    @media (max-width: $tablet-mediaquery-width) {
      font-size: 32px;
      width: 100%;
    }

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 12px;
    }
  }

  &__weAreTrusted {
    margin-top: 169px;

    @media (max-width: $laptop-mediaquery-width) {
      margin-top: 58px;
    }

    @media (max-width: $mobile-mediaquery-width) {
      margin-top: 40px;
    }

    &__caption {
      font-weight: 400;
      font-size: 64px;
      line-height: 105%;
      color: var(--color-white);
      text-transform: uppercase;

      @media (max-width: $laptop-mediaquery-width) {
        font-size: 40px;
      }

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 20px;
      }
    }

    &__logos {
      width: 70%;
      height: 70%;
      object-fit: cover;
      object-position: center center;

      @media (max-width: $laptop-mediaquery-width) {
        width: 75%;
        height: 75%;
        margin-top: 30px;
      }

      @media (max-width: $tablet-mediaquery-width) {
        margin-top: 20px;
      }

      @media (max-width: $mobile-mediaquery-width) {
        margin-top: 5px;
        width: 100%;
        height: 100%;
      }
    }

    &__desc {
      font-weight: 400;
      font-size: 32px;
      line-height: 105%;
      text-transform: lowercase;
      text-align: center;
      color: var(--color-gray-third);
      width: 70%;
      margin-top: 20px;

      @media (max-width: $laptop-mediaquery-width) {
        font-size: 20px;
      }

      @media (max-width: $tablet-mediaquery-width) {
        margin-top: 10px;
      }

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 13px;
        width: 110%;
        margin-top: 5px;
      }
    }
  }
}
