@import '../scssVars/mediaQueries';

.mainBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  &__wrapper {
    width: 100%;
    position: relative;

    @media (max-width: $laptop-mediaquery-width) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__leftCol {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 78px;

    @media (max-width: $laptop-mediaquery-width) {
      gap: 40px;
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      color: var(--color-white);

      * {
        font-weight: 500;
        line-height: 97%;
      }

      @media (max-width: $laptop-mediaquery-width) {
        align-items: center;

        * {
          text-align: center;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  &__leave-application {
    &__desc {
      font-weight: 400;
      font-size: 30px;
      line-height: 78%;
      text-align: center;
      color: var(--color-white);

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 15px;
      }

      &__wrapper {
        border-radius: 29px;
        padding: 15px;
        padding-left: 30px;
        background-color: var(--color-gray-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        @media (max-width: $mobile-mediaquery-width) {
          border-radius: 10px;
          padding: 10px 5px;
          margin-bottom: 0;
        }
      }
    }
  }

  &__caption {
    font-size: 100px;

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 36px;
    }
  }

  &__desc {
    font-size: 48px;
    width: 35%;

    @media (max-width: $laptop-mediaquery-width) {
      width: 80%;
    }

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 16px;
      width: 100%;
    }
  }

  &__img {
    position: absolute;
    right: 50px;
    top: -40px;
    z-index: var(--z-index-bg);

    @media (max-width: $laptop-mediaquery-width) {
      position: relative;
      right: 0;
      top: 0;
    }

    @media (max-width: $tablet-mediaquery-width) {
      width: 110%;
      object-fit: cover;
    }
  }

  &__footer {
    position: relative;
    width: 100%;
    margin-bottom: 80px;

    @media (max-width: $mobile-mediaquery-width) {
      margin-bottom: 40px;
    }

    &__caption {
      font-weight: 500;
      font-size: 90px;
      line-height: 78%;
      color: var(--color-white);
      white-space: nowrap;

      @media (max-width: $laptop-mediaquery-width) {
        font-size: 48px;
      }

      @media (max-width: $tablet-mediaquery-width) {
        font-size: 36px;
      }

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 16px;
      }
    }

    &__bg {
      position: absolute;
      z-index: var(--z-index-bg);
      width: 100%;
      object-fit: cover;
      top: -20px;

      @media (max-width: $laptop-mediaquery-width) and (min-width: $mobile-mediaquery-width) {
        width: 100vw;
        height: 120px;
        object-fit: contain;
        top: -30px;
      }

      @media (max-width: $mobile-mediaquery-width) {
        height: 32px;
        top: -6px;
        object-fit: cover;
      }
    }
  }
}
